@font-face {
    font-family: GilroyExtraBold;
    src: url("fonts/Gilroy-ExtraBold.otf") format("opentype");
}
@font-face {
    font-family: GilroyLight;
    src: url("fonts/Gilroy-Light.otf") format("opentype");
}

html {
    height: 100%;
    width: 100%;
    background: linear-gradient(299.64deg, #c3d1e4 -0.02%, #dde7f3 54.14%, #d4e0ed 100.43%);
    color: #31456a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-html {
    background: linear-gradient(167.96deg, #262B2F 3.36%, #16191D 76.99%);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    width: fit-content;
    text-align: center;
    background: linear-gradient(0deg, #e3edf7, #e3edf7);
    box-shadow: -4px -2px 16px #ffffff, 4px 2px 16px rgba(136, 165, 191, 0.54);
    border-radius: 16px;
    margin-bottom: 8%;
    margin-top: 8%;
}
.dark-card {
    background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
    box-shadow: -5px -6px 16px rgba(195, 200, 205, 0.04), 6px 6px 28px rgba(0, 0, 0, 0.3);
}

.label {
    font-family: GilroyLight;
    display: inline-block;
    padding-right: 5px;
    padding-left: 25px;
}
.dark-label {
    color: #D6E1EF
}

.info {
    font-family: GilroyExtraBold;
    display: inline-block;
    padding-left: 5px;
    padding-right: 25px;
}
.dark-info {
    color: #D6E1EF
}

.button {
    width: 100px;
    height: 100px;
    background: linear-gradient(0deg, #e3edf7, #e3edf7);
    box-shadow: -5px -6px 16px 0px #ffffff, 6px 6px 28px rgb(136 165 191 / 58%);
    border-radius: 50%;
    margin-bottom: 8%;
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button:active {
    box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px rgba(136, 165, 191, 0.58);
}

.dark-button {
    background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
    box-shadow: -5px -6px 16px rgba(195, 200, 205, 0.04), 6px 6px 28px rgba(0, 0, 0, 0.3);
}
.dark-button:active {
    box-shadow: inset -20px -20px 50px rgba(195, 200, 205, 0.04), inset 20px 20px 50px rgba(0, 0, 0, 0.3);
}

.material-icons-outlined { 
    color: #31456a; 
    user-select: none;
}
.material-icons-outlined.dark { 
    color: #ffffff;
    user-select: none;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

